<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Drive</title>
    <link rel="stylesheet" href="design.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div  class="one">
    <a href="https://docs.google.com/spreadsheets/d/11oTZHaDnn8swDr8GUMMPPe1MotwJtKmAk0ZFrtG0v-U/edit#gid=0"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Danh sach</button></a>
    <a  href="https://drive.google.com/file/d/14qLAIzCI3gPzZg6x1alST6690fbqpbNj/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Database</buttLon></a>
    <a href="https://drive.google.com/file/d/1lsew44esHEI6MdAl-GJ5jk4hqhP7OFIG/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Written</button></a>
    <a href="https://drive.google.com/file/d/1cDhdMhKk1kpYnoWDKLhuVSrfy-Jvvs2d/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Topic</button></a>
    <a href="https://drive.google.com/file/d/1NadcjYGg9zpfJbUe7SjurO8Tfl0XDo4k/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> EIC 3</button></a>
    <a href="https://drive.google.com/file/d/1lsew44esHEI6MdAl-GJ5jk4hqhP7OFIG/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Written</button></a>
    
    </div>
    <div  class="two" >
        <a href="https://drive.google.com/file/d/1NadcjYGg9zpfJbUe7SjurO8Tfl0XDo4k/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Unit</button></a>
        <a href="https://drive.google.com/file/d/1N3-GOivzLqJmFiudhVSy2Q3gAMVDNtXO/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Unit 1</button></a>
        <a href="https://drive.google.com/file/d/14seuFJPZMQwA2mcjYHes75m8jnq-HaKw/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Unit 2 </button></a>
        <a href="https://drive.google.com/file/d/1vxHmGs6L5JfPqUwcvBxnb081j22W4UOC/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Unit 3 </button></a>
        <a href="https://drive.google.com/file/d/14qLAIzCI3gPzZg6x1alST6690fbqpbNj/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Company </button></a>
        <a href="https://drive.google.com/open?id=1knJTGH2ku9WpEc0UeK76Lktxf9CQP7Ih&authuser=1"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Code </button></a>
        
    </div>

    <script src="./main.js">
        
    </script>
</body>
</html>
