<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="design.css">

</head>
<body>

    <div class="row">
        <div class="col-lg-3">
            <div class="d-flex">
                <a href="https://drive.google.com/file/d/1Lgf5Cs7uBzYRwvd2irQTc9oJpPQX0zQv/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Đồ án 1</button></a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" >Xem trước </a>
                    <a class="dropdown-item" >Mở bằng</a>
                    <a class="dropdown-item" >Chia sẻ</a>
                    <a class="dropdown-item" >Lấy đường dẫn liên kết có thể chia sẻ</a>
                    <a class="dropdown-item" >Thêm lỗi tắt vào Drive</a>
                    <a class="dropdown-item" >Di chuyển tới</a>
                    <a class="dropdown-item" >Thêm vào thư mục có gắn dấu sao</a>
                    <a class="dropdown-item" >Có thể sử dụng khi không có mục</a>
                    <a class="dropdown-item" >Xem chi tiết</a>
                    <a class="dropdown-item" >Quản lý phiên bản</a>
                    <a class="dropdown-item" >Tạo bản sao</a>
                    <a class="dropdown-item" >Báo cáo lạm dụng</a>
                    <a class="dropdown-item" >Tải xuống</a>
                    <a class="dropdown-item" >Xóa</a>
                </div>
            </div> 
            <div class="like">
                 <button id="id1" type="button" onclick="button1()"><img src="./like.svg" width="25px" height="25px" alt="">like</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex">
                <a href="https://drive.google.com/file/d/1XOc-HS6lKc5wduT-e3vOc5_pEQEAzcmE/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Đồ án 2</button></a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" >Xem trước </a>
                    <a class="dropdown-item" >Mở bằng</a>
                    <a class="dropdown-item" >Chia sẻ</a>
                    <a class="dropdown-item" >Lấy đường dẫn liên kết có thể chia sẻ</a>
                    <a class="dropdown-item" >Thêm lỗi tắt vào Drive</a>
                    <a class="dropdown-item" >Di chuyển tới</a>
                    <a class="dropdown-item" >Thêm vào thư mục có gắn dấu sao</a>
                    <a class="dropdown-item" >Có thể sử dụng khi không có mục</a>
                    <a class="dropdown-item" >Xem chi tiết</a>
                    <a class="dropdown-item" >Quản lý phiên bản</a>
                    <a class="dropdown-item" >Tạo bản sao</a>
                    <a class="dropdown-item" >Báo cáo lạm dụng</a>
                    <a class="dropdown-item" >Tải xuống</a>
                    <a class="dropdown-item" >Xóa</a>
                </div>
            </div> 
            <div class="like">
                <button id="id2" type="button" onclick="button2()"><img src="./like.svg" width="25px" height="25px" alt="">like</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex">
                <a href="https://drive.google.com/file/d/1FbTTtq4Me3zWhuM7LXhZhLxoG6TGPgv7/view"><button class="btn btn-success" type="button" ><img src="./folder.svg" width="20" height="20"> Đồ án 3</button></a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" >Xem trước </a>
                    <a class="dropdown-item" >Mở bằng</a>
                    <a class="dropdown-item" >Chia sẻ</a>
                    <a class="dropdown-item" >Lấy đường dẫn liên kết có thể chia sẻ</a>
                    <a class="dropdown-item" >Thêm lỗi tắt vào Drive</a>
                    <a class="dropdown-item" >Di chuyển tới</a>
                    <a class="dropdown-item" >Thêm vào thư mục có gắn dấu sao</a>
                    <a class="dropdown-item" >Có thể sử dụng khi không có mục</a>
                    <a class="dropdown-item" >Xem chi tiết</a>
                    <a class="dropdown-item" >Quản lý phiên bản</a>
                    <a class="dropdown-item" >Tạo bản sao</a>
                    <a class="dropdown-item" >Báo cáo lạm dụng</a>
                    <a class="dropdown-item" >Tải xuống</a>
                    <a class="dropdown-item" >Xóa</a>
                </div>
            </div> 
            <div class="like">
                <button id="id3" type="button" onclick="button3()"><img src="./like.svg" width="25px" height="25px" alt="">like</button>
            </div>
        </div>
    </div>
    <script>
            var x = 0;
        function button1(){
            
            if(x==0){
                document.getElementById('id1').style.color = 'black';x=1;
            }else{
                document.getElementById('id1').style.color = 'blue';x=0;
            }
        }
        function button2(){
            
            if(x==0){
                document.getElementById('id2').style.color = 'black';x=1;
            }else{
                document.getElementById('id2').style.color = 'blue';x=0;
            }
        }
        function button3(){
            
            if(x==0){
                document.getElementById('id3').style.color = 'black';x=1;
            }else{
                document.getElementById('id3').style.color = 'blue';x=0;
            }
        }
    </script>


   
</html>