<head>
    <link rel="stylesheet" href="./login.css">
    <link rel="icon" href="md_5aeee1cb35919.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>
        ITSS DRIVE
    </title>

    <body>
        <div class="container">

            <div class="img-ins">

                <div class="ITSS DRIVE">
                </div>

                <div class="khung1">
                    <div class="A">
                        <p> ITSS DRIVE </p>
                    </div>

                    <input id="id" type="text" placeholder="PHONE NUMBER, EMAIL">


                    <input id="p" type="password" placeholder="PASSWORD">

                    <div class="button">
                        <input id="Đ" type="button" name="login" value="Đăng nhập" onclick="">
                    </div>
                    <strong id="O" class="line">OR</strong>

                </div>
            </div>

        </div>
        </div>
    </body>