<head>
    <link rel="stylesheet" href="./login.css">
    <link rel="icon" href="./006.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>
        PANDA FILE
    </title>

    <body>
        <div class="container">

            <div class="img-ins">

                <div class="PANDA FILE">
                </div>

                <div class="khung1">
                    <div class="A">
                        <p> PANDA FILE </p>
                    </div>

                    <input id="id" type="text" placeholder=" PHONE NUMBER,EMAIL">
                    <input id="p" type="password" placeholder=" PASSWORD">

                    <div class="check">
                        <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <label class="form-check-label" for="exampleCheck1">Forgot your password?</label>
                    </div>

                    <div class="button">
                        <input id="Đ" type="button" name="login" value="LOGIN" onclick="">
                    </div>

                </div>
            </div>
    </body>