.container {
    display: flex;
    justify-content: center;
}

.khung1 {
    display: flex;
    text-align: center;
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-direction: column;
    padding: 15px;
    border: 3px solid #859398;
    opacity: 0.7;
    margin-top: 30%;
    /* background-color:  rgbrgb(160, 223, 223); */
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.A {
    font-size: 45px;
    font-family: 'Lobster', cursive;
}

#id {
    width: 350px;
    height: 35px;
    margin-bottom: 10px;
    margin: center;
    background-color: snow;
    border-radius: 5px;
    outline: none;
}

#p {
    width: 350px;
    height: 35px;
    margin-bottom: 10px;
    margin: right;
    background-color: snow;
    border-radius: 5px;
    outline: none;
}

#Đ {
    margin-bottom: 10px;
    height: 35px;
    width: 90px;
    background-color: snow;
    border-radius: 5px;
    outline: none;
}

#Đ:hover {
    background: #8e9eab;
    color: #8e9eab;
}

.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

body {
    background-image: url(./181.jpg);
    /* background-size: cover; */
    animation: amiName 15s infinite;
    animation-name: slide;
    /* animation-duration: 10s */
}

@keyframes slide {
    0% {
        background-image: url(./181.jpg);
    }
    25% {
        background-image: url(./95Zsit8.jpg);
    }
    50% {
        background-image: url(./181.jpg);
    }
    75% {
        background-image: url(./3954.jpg);
    }
    100% {
        background-image: url(./thumb-1920-372649.jpg);
    }
}