<head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PANDA FILE</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        
        <div class="container">
            
        
        <div class="info">
            <img src="./006.jpg" width="50" boder-radius=50%>
            <div class="name">
                <!-- <form action="name"></form> -->
                <p>user name: </p>
                <input class="user name" type="text" placeholder="user name" id="A">
                
            </div>
            <div class="age">
                <!-- <form action="age"></form> -->
                <p>age: </p>
                <input class="age" type="text" placeholder="age" id="B" >
            </div>
            <div>
                <p>date of bỉrth</p>
                <input type="datetime-local" name="birthday" placeholder="birthday.." id="H">
            </div>
            <div class="sex">
                <p> sex:  </p>
                <form>
                    <input type="radio" name="sex" value="male" checked> Male<br>
                    <input type="radio" name="sex" value="Female"> Female <br>
                    <input type="radio" name="sex" value="Other"> Other <br>
                </form>
            </div>
            <div> 
                <p>phone number: </p>
                <input type="tel" name="phone number"placeholder="phone number" id="F">
            </div>
            <div>  
                <p> address: </address></p>
                <input type="text" name="address" placeholder="address" id="E">
            </div>
            <div> 
                <p>email address: </address></p>
                <input type="email" name="email" placeholder="email.." id="G">
            </div>
            <div>
                <p>describe: </p>
                <input type="text" name="describe" placeholder="describe"  id="D">
            </div>           
            <div>
                <button type="button" id="I">confirm</button>               
            </div>
        </div>
    </div>
    </body>
    </html>