.container {
    display: flex;
    justify-content: center;
}

.info {
    /* margin-top: 200px; */
    padding-top: 5px;
    border: 2px solid black;
    width: 520px;
    display: flex;
    height: 500px;
    flex-direction: column;
    margin: center;
    padding-bottom: 850px;
    padding-left: 20px;
}

#A {
    padding: 6px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#B {
    padding: 4px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#C {
    margin-left: 180px;
}

#D {
    padding: 6px 12px;
    width: 500px;
    height: 30%;
    text-align: start;
    padding-bottom: 200px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#E {
    padding: 4px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#F {
    padding: 4px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#G {
    padding: 4px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#H {
    padding: 4px;
    width: 500px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

#I {
    width: 200px;
    height: 50px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20;
}

#I:hover {
    background-color: gray;
}

.infomation {
    font-size: 50px;
    margin-left: 150px;
}