.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: #fff;
    color: black;
    transition: all 0.3s;
    text-align: center;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: black;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: #fff
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

.modal-title {
    color: black;
}

.btn-info {
    color: black;
    background-color: #fff;
    border-color: #fff;
}

.btn-info:hover {
    background-color: grey;
    border-color: #fff;
}

.btn-primary {
    display: flex;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    color: black;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: grey !important;
    border-color: grey!important;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    width: 30%;
    box-sizing: border-box;
    color: black;
    background-color: rgb(20, 82, 216);
    border-color: rgb(20, 82, 216);
}

.btn-third {
    display: flex;
    justify-content: center;
    width: 30%;
    box-sizing: border-box;
    color: black;
    background-color: #999;
    border-color: #999;
}

.btn-outline-success {
    box-sizing: border-box;
    color: black;
    background-color: gray;
    border-color: black;
}

[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

.btn-default:hover {
    color: #fff;
    background-color: grey !important;
    border-color: grey!important;
}


/* CHATTING */

@media only screen and (max-width: 540px) {
    .chat-sidebar {
        display: none !important;
    }
    .chat-popup {
        display: none !important;
    }
}

body {
    background-color: #e9eaed;
}

.chat-sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

.sidebar-name span {
    padding-left: 5px;
}

.sidebar-name a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name:hover {
    background-color: #e1e2e5;
}

.sidebar-name img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.popup-box {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 285px;
    background-color: rgb(237, 239, 244);
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head {
    background-color: #6d84b4;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left {
    float: left;
}

.popup-box .popup-head .popup-head-right {
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
    text-decoration: none;
    color: inherit;
}

.popup-box .popup-messages {
    height: 100%;
    overflow-y: scroll;
}